---
import Social from "./Social.astro";
---

<footer>
    <a href="https://github.com/AlexMan123456/alex-g-blog">This site's GitHub repository</a>
    <Social url="https://discord.gg/KSaVjGswQE" platform="Discord server"/>
</footer>